.navbar_container {
    border: 2px solid black;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    flex-direction: column;
    background-color: white;
    text-align: left;
}